body {
    background-color: rgb(214, 214, 214);
}

a {
    text-decoration: none;
}

nav {
    margin: 2px;
    background-color: lightgray;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

blockquote {
    border: 1px dotted palegoldenrod;
    margin: 1px;
    padding: 1px;
    text-align:center;
}

h3 {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#coursework h3 {
    border-bottom:1px solid black;
}

#coursework h2 {
    text-decoration-line: underline;
    text-align:center;
}

#coursework table {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: lightgray;
    padding: 20px;
    text-align:center;
}

#contact th:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

ul {
    text-decoration: none;
}

table {
    width: 100%;
}

.header {
    align-items: flex-start;
}